In [1]:
# Import all used packages in this cell
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import json
import glob
import os
from datetime import datetime
import numpy as np
import folium
import geopy
import geopandas

In [2]:
from geopy.geocoders import GoogleV3
geolocator = GoogleV3(api_key='AIzaSyBUo1bVRDwJmhsyzdxb86FVUmufw7HHdZ0')

In [3]:
def extract_lat_long(address):
    try:
        location = geolocator.geocode(address)
        return [location.latitude, location.longitude]
    except:
        return ''

In [19]:
Unique_Add = pd.read_csv('../data/interim/Unique_Address.csv')
Unique_Add.head()

   Unnamed: 0           address
0     2773046   470 SENTINEL RD
1     2773047      2250 KENNEDY
2     2773049  263 PHARMACY AVE
3     2773059  215 GOSFORD BLVD
4     2773065  935 DONLANDS AVE

In [22]:
Unique_Add.address.isnull().sum()

1

In [23]:
Unique_Add = Unique_Add.dropna(subset=['address'])

In [24]:
Unique_Add.address.isnull().sum()

0

In [25]:
Unique_Add['Full_Address'] = Unique_Add.address + ", TORONTO, ONTARIO, CANADA"
Unique_Add.head()

   Unnamed: 0           address                                Full_Address
0     2773046   470 SENTINEL RD   470 SENTINEL RD, TORONTO, ONTARIO, CANADA
1     2773047      2250 KENNEDY      2250 KENNEDY, TORONTO, ONTARIO, CANADA
2     2773049  263 PHARMACY AVE  263 PHARMACY AVE, TORONTO, ONTARIO, CANADA
3     2773059  215 GOSFORD BLVD  215 GOSFORD BLVD, TORONTO, ONTARIO, CANADA
4     2773065  935 DONLANDS AVE  935 DONLANDS AVE, TORONTO, ONTARIO, CANADA

In [26]:
Unique_Add.shape

(5004, 3)

In [27]:
Unique_Add['lat_long'] = Unique_Add.apply(lambda x: extract_lat_long(x['Full_Address']) , axis =1)

In [29]:
Unique_Add.head()

,Unnamed: 0,address,Full_Address,lat_long
0,2773046,470 SENTINEL RD,"470 SENTINEL RD, TORONTO, ONTARIO, CANADA","[43.7629995, -79.5019169]"
1,2773047,2250 KENNEDY,"2250 KENNEDY, TORONTO, ONTARIO, CANADA","[43.7821981, -79.28859039999999]"
2,2773049,263 PHARMACY AVE,"263 PHARMACY AVE, TORONTO, ONTARIO, CANADA","[43.7000219, -79.28496729999999]"
3,2773059,215 GOSFORD BLVD,"215 GOSFORD BLVD, TORONTO, ONTARIO, CANADA","[43.7690781, -79.5227123]"
4,2773065,935 DONLANDS AVE,"935 DONLANDS AVE, TORONTO, ONTARIO, CANADA","[43.6972287, -79.34866679999999]"

In [46]:
Unique_Add.iloc[2600,2] = [43.76974030345682, -79.36310523409041]

In [47]:
Unique_Add.iloc[2600,2]

[43.76974030345682, -79.36310523409041]

In [48]:
Unique_Add['latitude'] = Unique_Add.apply(lambda x: x['lat_long'][0] if x['lat_long'] != '' else '', axis =1)
Unique_Add['longitude'] = Unique_Add.apply(lambda x: x['lat_long'][1] if x['lat_long'] != '' else '', axis =1)
Unique_Add.head()

,address,Full_Address,lat_long,latitude,longitude
0,470 SENTINEL RD,"470 SENTINEL RD, TORONTO, ONTARIO, CANADA","[43.7629995, -79.5019169]",43.762999,-79.501917
1,2250 KENNEDY,"2250 KENNEDY, TORONTO, ONTARIO, CANADA","[43.7821981, -79.28859039999999]",43.782198,-79.288590
2,263 PHARMACY AVE,"263 PHARMACY AVE, TORONTO, ONTARIO, CANADA","[43.7000219, -79.28496729999999]",43.700022,-79.284967
3,215 GOSFORD BLVD,"215 GOSFORD BLVD, TORONTO, ONTARIO, CANADA","[43.7690781, -79.5227123]",43.769078,-79.522712
4,935 DONLANDS AVE,"935 DONLANDS AVE, TORONTO, ONTARIO, CANADA","[43.6972287, -79.34866679999999]",43.697229,-79.348667

In [50]:
Unique_Add.head()

,address,Full_Address,lat_long,latitude,longitude
0,470 SENTINEL RD,"470 SENTINEL RD, TORONTO, ONTARIO, CANADA","[43.7629995, -79.5019169]",43.762999,-79.501917
1,2250 KENNEDY,"2250 KENNEDY, TORONTO, ONTARIO, CANADA","[43.7821981, -79.28859039999999]",43.782198,-79.288590
2,263 PHARMACY AVE,"263 PHARMACY AVE, TORONTO, ONTARIO, CANADA","[43.7000219, -79.28496729999999]",43.700022,-79.284967
3,215 GOSFORD BLVD,"215 GOSFORD BLVD, TORONTO, ONTARIO, CANADA","[43.7690781, -79.5227123]",43.769078,-79.522712
4,935 DONLANDS AVE,"935 DONLANDS AVE, TORONTO, ONTARIO, CANADA","[43.6972287, -79.34866679999999]",43.697229,-79.348667

In [51]:
Unique_Add.to_csv('../data/interim/Geocoded.csv')

In [52]:
Unique_Add[Unique_Add['lat_long'] == ""]

Empty DataFrame
Columns: [address, Full_Address, lat_long, latitude, longitude]
Index: []

In [53]:
Unique_Add.iloc[2600,2]

[43.76974030345682, -79.36310523409041]

In [57]:
import geopandas as gpd
import geopy
from shapely.ops import nearest_points

In [58]:
def calculate_nearest(row, destination, val, col='geometry'):
    # 1 - create unary union    
    dest_unary = destination['geometry'].unary_union
    # 2 - find closest point
    nearest_geom = nearest_points(row[col], dest_unary)
    # 3 - Find the corresponding geom
    match_geom = destination.loc[destination.geometry 
                == nearest_geom[1]]
    # 4 - get the corresponding value
    match_value = match_geom[val].to_numpy()[0]
    return match_value

In [59]:
# Import TTC values
TTC = pd.read_csv('../data/raw/TTC_Routes_and_Schedules_Data/stops.txt', sep=",")
TTC.head(1)
# Remove non-used columns
TTC = TTC[['stop_name', 'stop_lat', 'stop_lon','stop_id']]
TTC = gpd.GeoDataFrame(
    TTC, geometry=gpd.points_from_xy(TTC.stop_lon, TTC.stop_lat))

In [61]:
Tickets_May = pd.read_csv('../data/interim/Tickets_may20_gpd.csv')

In [65]:
Tickets_May = Tickets_May.drop(columns='geometry')

In [66]:
Tickets_May.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25489 entries, 0 to 25488
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              25489 non-null  int64
 1   index                   25489 non-null  int64
 2   tag_number_masked       25489 non-null  object
 3   date_of_infraction      25489 non-null  object
 4   infraction_code         25489 non-null  float64
 5   infraction_description  25489 non-null  object
 6   set_fine_amount         25489 non-null  int64
 7   time_of_infraction      25489 non-null  float64
 8   location1               18393 non-null  object
 9   location2               25489 non-null  object
 10  location3               805 non-null    object
 11  location4               810 non-null    object
 12  province                25489 non-null  object
 13  day_of_week             25489 non-null  object
 14  address                 25489 non-null  object
 15  latitude                25489 non-null  float64
 16  longitude               25489 non-null  float64
 17  UTM                     25489 non-null  object
dtypes: float64(4), int64(3), object(11)
memory usage: 3.5+ MB

In [67]:
Nearest_ttc = geopandas.GeoDataFrame(
    Tickets_May, geometry=geopandas.points_from_xy(Tickets_May.longitude, Tickets_May.latitude))

In [68]:
Nearest_ttc.head()

,Unnamed: 0,index,tag_number_masked,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location1,location2,location3,location4,province,day_of_week,address,latitude,longitude,UTM,geometry
0,0,6455,***80819,2020-05-01,3.0,PARK ON PRIVATE PROPERTY,30,0.0,AT,470 SENTINEL RD,NaN,NaN,ON,Friday,470 SENTINEL RD,43.762999,-79.501917,"[620585.1653737575, 4846640.779556842]",POINT (-79.50192 43.76300)
1,1,6457,***80820,2020-05-01,3.0,PARK ON PRIVATE PROPERTY,30,1.0,AT,470 SENTINEL RD,NaN,NaN,ON,Friday,470 SENTINEL RD,43.762999,-79.501917,"[620585.1653737575, 4846640.779556842]",POINT (-79.50192 43.76300)
2,2,6460,***80821,2020-05-01,3.0,PARK ON PRIVATE PROPERTY,30,2.0,AT,470 SENTINEL RD,NaN,NaN,ON,Friday,470 SENTINEL RD,43.762999,-79.501917,"[620585.1653737575, 4846640.779556842]",POINT (-79.50192 43.76300)
3,3,6462,***80822,2020-05-01,3.0,PARK ON PRIVATE PROPERTY,30,3.0,AT,470 SENTINEL RD,NaN,NaN,ON,Friday,470 SENTINEL RD,43.762999,-79.501917,"[620585.1653737575, 4846640.779556842]",POINT (-79.50192 43.76300)
4,4,6464,***80823,2020-05-01,3.0,PARK ON PRIVATE PROPERTY,30,4.0,AT,470 SENTINEL RD,NaN,NaN,ON,Friday,470 SENTINEL RD,43.762999,-79.501917,"[620585.1653737575, 4846640.779556842]",POINT (-79.50192 43.76300)

In [69]:
# Get the nearest geometry
Nearest_ttc['nearest_id'] = Nearest_ttc.apply(calculate_nearest, destination=TTC, val='stop_id', axis=1)

In [71]:
Nearest_ttc.head()

,Unnamed: 0,index,tag_number_masked,date_of_infraction,infraction_code,infraction_description,set_fine_amount,time_of_infraction,location1,location2,location3,location4,province,day_of_week,address,latitude,longitude,UTM,geometry,nearest_id
0,0,6455,***80819,2020-05-01,3.0,PARK ON PRIVATE PROPERTY,30,0.0,AT,470 SENTINEL RD,NaN,NaN,ON,Friday,470 SENTINEL RD,43.762999,-79.501917,"[620585.1653737575, 4846640.779556842]",POINT (-79.50192 43.76300),1091
1,1,6457,***80820,2020-05-01,3.0,PARK ON PRIVATE PROPERTY,30,1.0,AT,470 SENTINEL RD,NaN,NaN,ON,Friday,470 SENTINEL RD,43.762999,-79.501917,"[620585.1653737575, 4846640.779556842]",POINT (-79.50192 43.76300),1091
2,2,6460,***80821,2020-05-01,3.0,PARK ON PRIVATE PROPERTY,30,2.0,AT,470 SENTINEL RD,NaN,NaN,ON,Friday,470 SENTINEL RD,43.762999,-79.501917,"[620585.1653737575, 4846640.779556842]",POINT (-79.50192 43.76300),1091
3,3,6462,***80822,2020-05-01,3.0,PARK ON PRIVATE PROPERTY,30,3.0,AT,470 SENTINEL RD,NaN,NaN,ON,Friday,470 SENTINEL RD,43.762999,-79.501917,"[620585.1653737575, 4846640.779556842]",POINT (-79.50192 43.76300),1091
4,4,6464,***80823,2020-05-01,3.0,PARK ON PRIVATE PROPERTY,30,4.0,AT,470 SENTINEL RD,NaN,NaN,ON,Friday,470 SENTINEL RD,43.762999,-79.501917,"[620585.1653737575, 4846640.779556842]",POINT (-79.50192 43.76300),1091

In [73]:
!pip install``nb_pdf_template

ERROR: unknown command "installnb_pdf_template"